{% extends 'base.html' %}
{% load static %}

{% block head %}
<link type="text/css" rel="stylesheet" href="{% static 'streamd/css/watch.css' %}"/>
<script src="//cdn.jsdelivr.net/npm/hls.js@latest" defer></script>
<script defer>
if (Hls.isSupported()) {
    var video = document.getElementById('video');
    var hls = new Hls();

    hls.attachMedia(video);
    hls.on(Hls.Events.MEDIA_ATTACHED, function () {
        hls.loadSource('/live/{{ stream.hls_key }}/index.m3u8');
        hls.on(Hls.Events.MANIFEST_PARSED, function (event, data) {
            video.play();
        });
    });
}
</script>
{% endblock %}

{% block title %}{{ stream.stream_name|escape }}{% endblock %}

{% block content %}
<div id="body">
    <video id="video" controls></video>
    <h3>{{ stream.stream_name|escape }}</h3>
    <p>{{ stream.description|escape }}</p>
</div>
{% endblock %}